.buildContainer{
    position: relative;
    top: 0;
    left: 25%;
    width: 500px;
    height: 600px;
    background-color: blanchedalmond;
}

.buildContainer .dollBody {
    position: relative;
    top: 0px;
    left: 0px;
    border-color:aqua;
    width: 500px;
    height: 600px;
}

.buildContainer .dollOutfit {
    position: absolute;
    top:0px;
    left:0px;
    border-color:aqua;
    width: 500px;
    height: 600px;
}

.buildContainer .dollShoes {
    position: absolute;
    top:0px;
    left:0px;
    border-color:aqua;
    width: 500px;
    height: 600px;
}

.previewDollBody{
    width:50px;
    height: 60px;
}

